name: Build Docker Image

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: "ubuntu-latest"
      timeout-minutes:
        required: false
        type: number
        default: 360
      docker-platforms:
        required: false
        type: string
        default: "linux/amd64,linux/arm64"
      docker-context:
        required: false
        type: string
        default: .
      dockerfile:
        required: false
        type: string
        default: "./Dockerfile"
      image_subpath:
        required: false
        type: string
      dockerhub_imagename:
        required: false
        type: string
        default: ""
      build-args:
        required: false
        type: string
        default: ""
      additional-tag:
        required: false
        type: string
        default: ""
      tag-latest-override:
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_PAT:
        required: false


jobs:
  package:
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Login to DockerHub
        env:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_pat: ${{ secrets.DOCKERHUB_PAT }}
        if: ${{ env.dockerhub_username != '' && env.dockerhub_pat != '' }}
        uses: docker/login-action@v3
        with:
          username: ${{ env.dockerhub_username }}
          password: ${{ env.dockerhub_pat }}

      - name: Set image name
        id: image
        run: |
          export subpath="${{ inputs.image_subpath }}"
          if [ "$subpath" == '' ]; then
            echo "imagename=ghcr.io/${{ github.repository }}" >> "$GITHUB_OUTPUT"
          else
            echo "imagename=ghcr.io/${{ github.repository }}/${subpath}" >> "$GITHUB_OUTPUT"
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.image.outputs.imagename }}
            ${{ inputs.dockerhub_imagename }}
          flavor: |
            latest=auto
            prefix=
            suffix=
          tags: |
            type=raw,value=main,enable={{is_default_branch}}
            type=raw,value=latest,enable=${{ inputs.tag-latest-override }}
            type=raw,value=${{ inputs.additional-tag }},enable=${{ inputs.additional-tag != '' }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,format=long

      - name: Build Docker Container
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.docker-context }}
          file: ${{ inputs.dockerfile }}
          platforms: ${{ inputs.docker-platforms }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: ${{ inputs.build-args }}
