name: Build Docker Image

on:
  workflow_call:
    inputs:
      docker-platforms:
        required: false
        type: string
        default: "linux/amd64,linux/arm64"
      image-subpath:
        required: false
        type: string

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set image name
        id: image
        env:
          subpath: "{{ inputs.image-subpath }}"
        run: |
          if [ "${subpath}" == '' ]; then
            echo "imagename=ghcr.io/${{ github.repository }}" >> $GITHUB_OUTPUT
          else
            echo "imagename=ghcr.io/${{ github.repository }}/${subpath}" >> $GITHUB_OUTPUT
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ steps.image.outputs.imagename }}
          # generate Docker tags based on the following events/attributes
          # latest is only tagged if we're on the default branch
          tags: |
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
            type=sha,format=long

      - name: Build Docker Container
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: ${{ inputs.docker-platforms }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
