name: test-setup-python

on:
  push:
    branches:
      - main
    tags:
      - "**"
  pull_request:
    branches:
      - "**"

concurrency:
  # SHA is added to the end if on `main` to let all main workflows run
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}-${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/heads/long_lived/')) && github.sha || '' }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  test:
    name: ${{ matrix.os.name }} ${{ matrix.arch.name }} ${{ matrix.environment.name }} ${{ matrix.python.name }}
    runs-on: ${{ matrix.os.runs-on[matrix.arch.matrix][matrix.environment.matrix] }}
    container: ${{ matrix.os.container }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: macOS
            matrix: macos
            runs-on:
              arm:
                chia: [macOS, ARM64]
                github: [macos-latest]
              intel:
                chia: [macos-13-intel]
                github: [macos-13]
          - name: Ubuntu
            matrix: ubuntu
            runs-on:
              arm:
                github: [ubuntu-24.04-arm]
              intel:
                github: [ubuntu-latest]
          - name: Windows
            matrix: windows
            runs-on:
              intel:
                github: [windows-latest]
          - name: Debian
            matrix: debian
            container: chianetwork/ubuntu-22.04-builder:latest
            runs-on:
              arm:
                github: [ubuntu-24.04-arm]
              intel:
                github: [ubuntu-latest]
          - name: Rocky
            matrix: rocky
            container: chianetwork/rocky8-builder:latest
            runs-on:
              intel:
                github: [ubuntu-22.04]
        python:
          - name: "3.9"
            action: "3.9"
            check: "3.9"
            patch-specified: false
            allow-prerelease: false
            matrix: "python3.9"
          - name: "3.10"
            action: "3.10"
            check: "3.10"
            patch-specified: false
            allow-prerelease: false
            matrix: "python3.10"
          - name: "3.10.8"
            action: "3.10.8"
            check: "3.10.8"
            patch-specified: true
            allow-prerelease: false
            matrix: "python3.10"
          - name: "3.11"
            action: "3.11"
            check: "3.11"
            patch-specified: false
            allow-prerelease: false
            matrix: "python3.11"
          - name: "3.12"
            action: "3.12"
            check: "3.12"
            patch-specified: false
            allow-prerelease: true
            matrix: "python3.12"
          - name: "3.13"
            action: "3.13"
            check: "3.13"
            patch-specified: false
            allow-prerelease: true
            matrix: "python3.13"
          - name: "3.14"
            action: "3.14"
            check: "3.14"
            patch-specified: false
            allow-prerelease: true
            matrix: "python3.14"
        arch:
          - name: ARM
            matrix: arm
          - name: Intel
            matrix: intel
        environment:
          - name: Chia
            matrix: chia
            context: self-hosted
          - name: GitHub
            matrix: github
            context: github-hosted
        exclude:
          - os:
              matrix: windows
            arch:
              matrix: arm
          - os:
              matrix: windows
            environment:
              matrix: chia
          - os:
              matrix: ubuntu
            environment:
              matrix: chia
          - os:
              matrix: debian
            environment:
              matrix: chia
          - os:
              matrix: rocky
            environment:
              matrix: chia
          - os:
              matrix: rocky
            arch:
              matrix: arm

    steps:
      - uses: actions/checkout@v4

      - name: Run the action
        uses: ./setup-python/
        id: run-the-action
        with:
          python-version: ${{ matrix.python.action }}
          allow-prerelease: ${{ matrix.python.allow-prerelease }}

      - name: Add to GITHUB_PATH
        run: |
          mkdir -p "$HOME/empty-bin"
          echo "$HOME/empty-bin" >> $GITHUB_PATH

      - name: Check Python version
        env:
          PYTHON_CHECK: ${{ matrix.python.check }}
        run: |
          python ./setup-python/test_check_version.py

      - name: Check for existence of shim
        if: ${{ matrix.os.matrix != 'windows' }}
        shell: bash
        env:
          PYTHON_SHIM: ${{ matrix.python.matrix }}
        run: |
          $PYTHON_SHIM --version

      - name: Make sure pre-release version adjustment made if appropriate
        env:
          RESULT: ${{ matrix.python.allow-prerelease && contains(steps.run-the-action.outputs.python-version-string, '.0-alpha') || ( steps.run-the-action.outputs.python-version-string == matrix.python.action ) }}
        run: |
          ${RESULT}
