name: Test label conflict
on:
  push:
  pull_request:
    types: [synchronize]

concurrency:
  # SHA is added to the end if on `main` to let all main workflows run
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}-${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/heads/long_lived/')) && github.sha || '' }}
  cancel-in-progress: true

jobs:
  test:
    name: Test label conflict
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Get npm cache directory path
        run: |
          cd label-conflict
          echo "cache_dir=$(npm config get cache)" >> "$GITHUB_ENV"

      - name: Cache Node.js modules
        id: npm-cache
        uses: actions/cache@v4
        with:
          path: ${{ env.cache_dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: |
          cd label-conflict
          npm ci

      - name: Check build file consistency
        run: |
          cd label-conflict
          mv dist/index.js dist/index.js.orig
          npm run build
          COMMITTED_DIST="$(sha256sum dist/index.js.orig | cut -d' ' -f1)"
          COMPILED_DIST="$(sha256sum dist/index.js | cut -d' ' -f1)"
          echo "Hash of committed dist/index.js: ${COMMITTED_DIST}"
          echo "Hash of compiled dist/index.js: ${COMPILED_DIST}"
          test "$COMPILED_DIST" = "$COMMITTED_DIST"

      - name: Lint
        run: |
          cd label-conflict
          npm run lint
